<!-- <div class="room-bg">
  <div class="container-fluid">

    <div class="images">
      <img class="bird_cage-img" src="https://cdn.pixabay.com/photo/2016/04/01/11/21/bird-1300304__480.png" alt="">
      <a href="https://imgbb.com/"><img class="bird-img" src="https://i.ibb.co/KbKqH38/kukek-unscreen.gif"
          alt="kukek-unscreen"></a>
    </div>

    <div class="text">
      <h1>404<br>Oops! Nothing here</h1>
      <h5>The Bird has flew away...</h5>
    </div>
  </div>
</div> -->

<link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>

<body>

  <!-- Error Page -->
  <div class="error">
    <div class="container-floud">
      <div class="col-xs-12 ground-color text-center">
        <div class="container-error-404">
          <div class="clip">
            <div class="shadow"><span class="digit thirdDigit">4</span></div>
          </div>
          <div class="clip">
            <div class="shadow"><span class="digit secondDigit">0</span></div>
          </div>
          <div class="clip">
            <div class="shadow"><span class="digit firstDigit">4</span></div>
          </div>
          <div class="msg">🤴🏿<span class="triangle"></span></div>
        </div>
        <h2 class="h1">Sorry! Page not found</h2>
      </div>
    </div>
  </div>
  <!-- Error Page -->
</body>